---
import Connector from '../components/Connector.astro'
import LinkCard from '../components/LinkCard.astro'

const sampleCards = [
  {
    title: 'foo',
    body: 'Hello, world!',
    href: 'https://example.com',
    top: Math.random() * 1000,
    left: Math.random() * 1000,
  },
  {
    title: 'bar',
    body: 'Hello, world!',
    href: 'https://example.com',
    top: Math.random() * 1000,
    left: Math.random() * 1000,
  },
  {
    title: 'baz',
    body: 'Hello, world!',
    href: 'https://example.com',
    top: Math.random() * 1000,
    left: Math.random() * 1000,
  },
]
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="container">
      <div class="stack-1" style={{ position: 'relative' }}>
        {
          sampleCards.map((c, i) => (
            <div id={`subdomain_${i}`}>
              <LinkCard title={c.title} body={c.body} href={c.href} />
            </div>
          ))
        }
      </div>
      <h1 id="domain">ras0q.com</h1>
      <div class="stack-1">
        {
          sampleCards.map((c, i) => (
            <div id={`subpath_${i}`}>
              <LinkCard title={c.title} body={c.body} href={c.href} />
            </div>
          ))
        }
      </div>
    </div>

    {
      sampleCards.map((_, i) => (
        <>
          <Connector start={`subdomain_${i}`} end={`domain`} />
          <Connector start={`domain`} end={`subpath_${i}`} />
        </>
      ))
    }
  </body>
</html>

<style>
  .container {
    display: flex;
    justify-content: space-between;

    > h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
  }

  .stack-1 > * + * {
    margin-top: 1rem;
  }
</style>
