---
import Connector from '../components/Connector.astro'
import LinkCard from '../components/LinkCard.astro'

const subDomains = [
  {
    title: 'foo',
    body: 'Hello, world!',
    href: 'https://example.com',
    top: `${Math.random() * 100}%`,
    left: `${Math.random() * 20}%`,
  },
  {
    title: 'bar',
    body: 'Hello, world!',
    href: 'https://example.com',
    top: `${Math.random() * 100}%`,
    left: `${Math.random() * 20}%`,
  },
  {
    title: 'baz',
    body: 'Hello, world!',
    href: 'https://example.com',
    top: `${Math.random() * 100}%`,
    left: `${Math.random() * 20}%`,
  },
]

const subPaths = [
  {
    href: '/about',
    top: `${Math.random() * 100}%`,
    left: `${40 + Math.random() * 40}%`,
  },
  {
    href: '/blog',
    top: `${Math.random() * 100}%`,
    left: `${40 + Math.random() * 40}%`,
  },
  {
    href: '/contact',
    top: `${Math.random() * 100}%`,
    left: `${40 + Math.random() * 40}%`,
  },
]
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="container">
      <h1 id="domain">ras0q.com</h1>

      {
        subDomains.map((c, i) => (
          <>
            <div
              id={`subdomain_${i}`}
              class="draggable"
              style={{
                position: 'absolute',
                top: c.top,
                left: c.left,
              }}
            >
              <LinkCard title={c.title} body={c.body} href={c.href} />
            </div>
            <Connector start={`subdomain_${i}`} end="domain" />
          </>
        ))
      }

      {
        subPaths.map((c, i) => (
          <>
            <Connector start="domain" end={`subpath_${i}`} />
            <div
              id={`subpath_${i}`}
              class="draggable"
              style={{
                position: 'absolute',
                top: c.top,
                left: c.left,
              }}
            >
              <LinkCard title={c.href} href={c.href} />
            </div>
          </>
        ))
      }
    </div>
  </body>
</html>

<style>
  body {
    width: 100svw;
    height: 100svh;
    overflow: hidden;
  }

  .container {
    > h1 {
      font-size: 5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }

  .stack-1 > * + * {
    margin-top: 1rem;
  }
</style>

<script>
  import interact from 'interactjs'

  interact('.draggable').draggable({
    inertia: true,
    modifiers: [
      interact.modifiers.restrictRect({
        restriction: 'body',
        endOnly: true,
      }),
    ],
    listeners: {
      move(event) {
        const target = event.target
        const x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
        const y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

        target.style.transform = `translate(${x}px, ${y}px)`

        target.setAttribute('data-x', x)
        target.setAttribute('data-y', y)
      },
    },
  })
</script>
