---
interface Props {
  toSelector: string
  direction?: 'leftToRight' | 'rightToLeft'
  curve?: number
}

const { toSelector, direction = 'leftToRight', curve = 100 } = Astro.props
---

<astro-connect-provider data-to-selector={toSelector} data-direction={direction} data-curve={curve}>
  <svg version="1.1">
    <path></path>
  </svg>
  <div class="connector-start">
    <slot />
  </div>
</astro-connect-provider>

<style>
  astro-connect-provider {
    > svg {
      position: absolute;
      overflow: visible;
      z-index: -1;

      > path {
        fill: none;
        stroke: var(--ctp-latte-text);
        stroke-width: 0.25rem;
      }
    }
  }
</style>

<script>
  class AstroConnectProvider extends HTMLElement {
    constructor() {
      super()
      const { toSelector, direction: directionStr, curve: curveStr } = this.dataset
      if (!toSelector || !directionStr) return

      const _fromElement = this.querySelector<HTMLElement>('.connector-start > *')
      const _toElement = document.querySelector<HTMLElement>(toSelector)
      if (!_fromElement || !_toElement) return

      const direction = directionStr as 'leftToRight' | 'rightToLeft'
      const leftElement = direction === 'leftToRight' ? _fromElement : _toElement
      const rightElement = direction === 'leftToRight' ? _toElement : _fromElement

      const svg = this.querySelector('svg') as SVGSVGElement
      const path = this.querySelector('svg > path') as SVGPathElement
      if (!svg || !path) return

      const curve = Number(curveStr)

      this.fit(leftElement, rightElement, svg, path, curve)

      const observer = new MutationObserver(() => {
        this.fit(leftElement, rightElement, svg, path, curve)
      })
      observer.observe(leftElement, { attributes: true, characterData: true })
      observer.observe(rightElement, { attributes: true, characterData: true })

      const resizeObserver = new ResizeObserver(() => {
        this.fit(leftElement, rightElement, svg, path, curve)
      })
      resizeObserver.observe(document.body)
      resizeObserver.observe(leftElement)
      resizeObserver.observe(rightElement)
    }

    fit(
      leftElement: HTMLElement,
      rightElement: HTMLElement,
      svg: SVGSVGElement,
      path: SVGPathElement,
      curve: number,
    ) {
      const startRect = leftElement.getBoundingClientRect()
      const endRect = rightElement.getBoundingClientRect()
      const sx = startRect.right
      const sy = startRect.top + startRect.height / 2
      const ex = endRect.left
      const ey = endRect.top + endRect.height / 2
      const dx = Math.abs(ex - sx)
      const dy = Math.abs(ey - sy)
      svg.setAttribute('viewBox', `${sx}, ${sy}, ${dx}, ${dy}`)
      svg.style.left = `${sx}px`
      svg.style.top = `${sy}px` // FIXME: if sy > ey, <path> will be out of the <svg>
      svg.style.width = `${dx}px`
      svg.style.height = `${dy}px`

      path.setAttribute(
        'd',
        `M ${sx}, ${sy} C ${sx + curve}, ${sy}, ${ex - curve}, ${ey}, ${ex}, ${ey}`,
      )
    }
  }

  customElements.define('astro-connect-provider', AstroConnectProvider)
</script>
